header {
  position: sticky;
  top: 0;
  background-color: var(--verde);
  z-index: 999;
  padding: 15px 0;
}

.cabecalho-conteudo {
  max-width: 2rem; 
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  max-width: 2rem;
  height: 2rem;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 10rem;
}

.menu a {
  text-decoration: none;
  color: var(--azul);
  font-family: var(--fonte-principal);
  font-size: 3rem;
  font-weight: bold;
  transition: color 0.5s ease;
}

.menu a:hover {
  background-color: var(--branco);
  color:var(--preto);
}