/*CARROSEL*/

.carrossel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.carrossel-conteudo {
    width: 100%;
    height: 100%;
  position: relative;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
}

.slide-container {
  width: 100%;
  flex-shrink: 0;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carrossel-conteudo input {
  display: none;
}

.nav-manual {
  position: absolute;
  width: 100%;
  bottom: 35px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.manual-btn {
  border: 2px solid var(--verde);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 6px;
}

.manual-btn:hover {
  background-color: var(--verde);
}

#radio1:checked ~ .slides {
  margin-left: 0;
}
#radio2:checked ~ .slides {
  margin-left: -100%;
}
#radio3:checked ~ .slides {
  margin-left: -200%;
}
#radio4:checked ~ .slides {
  margin-left: -300%;
}

/*CONTADOR*/
.dados {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  background-color: var(--preto);
  border-bottom: 4px solid var(--verde);
  border-top: 4px solid var(--verde);
}

.dados .item {
  margin: 0 40px;
}

.dados h2 {
  font-size: 4rem;
  color: var(--verde);
  margin: 0;
  font-weight: 700;
  transition: all 0.3s ease;
font-family: var(--fonte-principal);
}

.dados  p {
  margin-top: 8px;
  font-size: 2rem;
  color: var(--branco);
  font-family: var(--fonte-textos);
}

/*PROXIMA EDIÇÃO*/

.proxima-edicao {
  background-color: var(--preto);
  color: var(--branco);
  padding: 60px 20px;
}

.proxima-edicao .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  gap: 40px;       
  max-width: 1200px;
  margin: 0 auto;
}

.proxima-edicao .imagem img {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.proxima-edicao .imagem img:hover {
  transform: scale(1.20); 
}

.proxima-edicao .conteudo {
  max-width: 500px;
}

.proxima-edicao .conteudo h2 {
  font-family: var(--fonte-principal);
  font-size: 3rem;
  font-weight: 700;
  color: var(--amarelo);
  margin-bottom: 25px;
}

.proxima-edicao .conteudo ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proxima-edicao .conteudo li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
}

.proxima-edicao .conteudo li img {
  width: 40px;
  height: 40px;
}

.proxima-edicao .conteudo span {
  font-family: var(--fonte-textos);
  font-size: 1.5rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .proxima-edicao .container {
    flex-direction: column;
    text-align: center;
  }

  .proxima-edicao .conteudo {
    max-width: 100%;
  }

  .proxima-edicao .conteudo li {
    justify-content: center;
  }

  .proxima-edicao .imagem img {
    width: 90%;
  }
}

/*REALIZAÇÃO E APOIO*/
.realizacao img{
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
.apoio{
  display:flex;
  justify-content: space-evenly;
}
.apoio img{
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}
